@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ag-theme-alpine-dark {
  --ag-alpine-active-color: #fdc500;
  --ag-selected-row-background-color: rgba(255, 255, 255, 0.1);
  --ag-odd-row-background-color: rgba(255, 255, 255, 0.05);
  --ag-header-background-color: rgba(255, 255, 255, 0.1);
  --ag-background-color: transparent;
  --ag-border-color: rgba(255, 255, 255, 0.1);
  --ag-header-foreground-color: rgba(255, 255, 255, 0.7);
  --ag-foreground-color: white;
}
